@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 33 98%;
    --foreground: 224 34% 15%;
    --card: 0 0% 100%;
    --card-foreground: 213 16% 37%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 16% 37%;
    --primary: 333 71% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 19% 35%;
    --secondary-foreground: 0 0% 100%;
    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;
    --warning: 41 96% 40%;
    --warning-foreground: 0 0% 100%;
    --danger: 0 72% 51%;
    --danger-foreground: 0 0% 100%;
    --muted: 0 0% 100%;
    --muted-foreground: 213 16% 37%;
    --accent: 0 0% 100%;
    --accent-foreground: 213 16% 37%;
    --border: 254 25% 90%;
    --input: 254 25% 90%;
    --ring: 333 71% 51%;
    --radius: 1rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;
    --card: 222 47% 13%;
    --card-foreground: 215 18% 62%;
    --popover: 222 47% 13%;
    --popover-foreground: 215 18% 62%;
    --primary: 335 78% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 25% 27%;
    --secondary-foreground: 0 0% 100%;
    --success: 142 72% 29%;
    --success-foreground: 0 0% 100%;
    --warning: 35 92% 33%;
    --warning-foreground: 0 0% 100%;
    --danger: 0 74% 42%;
    --danger-foreground: 0 0% 100%;
    --muted: 222 47% 13%;
    --muted-foreground: 215 18% 62%;
    --accent: 222 47% 13%;
    --accent-foreground: 215 18% 62%;
    --border: 216 24% 23%;
    --input: 216 24% 23%;
    --ring: 335 78% 42%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
